:root {
    --background-dark: rgba(0, 0, 0, 0.2);
    --font-color: white;
    --padding: 15%;
    --font-size-large: 1.5em;
    --font-size-xlarge: 5em;
}

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px var(--padding);
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    &.dark-mode {
        background-color: var(--background-dark);
    }

    .content {
        text-align: left;
        z-index: 2;

        .social_icons {
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: var(--font-color);

            svg {
                font-size: 1.8em;
            }
        }

        .mobile_social_icons {
            display: none;
        }

        p {
            font-size: var(--font-size-large);
            margin: 0; /* Reset margins */
        }

        h1 {
            font-size: var(--font-size-xlarge);
            margin: 0; /* Reset margins */
        }
    }

    .image-wrapper {
        z-index: 2;

        img {
            width: 150px;
            border-radius: 50%;
        }
    }

    &.about {
        text-align: center;
        padding: 30% 0; /* Top and bottom padding */
    }
}

/* Media Queries */
@media screen {
    @media (max-width: 567px) {
        .nav-left {
            padding-top: 20px;
            float: left;

            img {
                height: 35px;
            }
        }

        .nav-right {
            float: right;

            li {
                padding: 10px 15px;
                list-style: none;
                font-size: 13px;
                color: var(--font-color);
                width: 10%;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        body {
            width: 100%;
        }

        .about {
            padding: 0 5%;
            font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        .about-section {
            padding-top: 150px;
            display: block;
            padding: 0;
        }

        .about-section h1 {
            font-size: 4em !important;
            text-align: left;
        }

        .about-section p {
            text-align: left;
        }

        .container {
            display: initial;
        }

        .social_icons {
            display: none !important;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 10px;
            color: var(--font-color);
    
            svg {
                font-size: 1.8em;
            }
        }

        .about-section .content {
            width: 90%;
            padding: 0 5% 5%; /* Use shorthand for padding */
        }

        .about-section .image-wrapper {
            padding-left: 5%;
            width: 100%;
        }
    }
}